[Unit]
Description=Check, download and notify package manager updates
Documentation=https://github.com/paulbastian/arch-maintenance
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/share/arch-maintenance/checkUpdates.sh
